@model RegisterViewModel

<section class="register-form">
    <div class="container">
        <div class="title">Register</div>
        <form asp-action="Index" asp-controller="Register" method="post" novalidate>
            <div asp-validation-summary=ModelOnly class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control firstname" onkeyup="validateText(event)" />
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control lastname" onkeyup="validateText(event)" />
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Email</label>
                <input asp-for="@Model.Email" type="email" class="form-control email" onkeyup="validateEmail(event)" />
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Password" class="form-label">Password</label>
                <input asp-for="@Model.Password" type="password" class="form-control password" onkeyup="validatePassword(event)" />
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StreetName" class="form-label">Street Name</label>
                <input asp-for="@Model.StreetName" class="form-control streetname" onkeyup="validateText(event)" />
                <span asp-validation-for="StreetName" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PostalCode" class="form-label">Postal Code</label>
                <input asp-for="@Model.PostalCode" class="form-control postalcode" onkeyup="validateText(event)" />
                <span asp-validation-for="PostalCode" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.City" class="form-label">City</label>
                <input asp-for="@Model.City" class="form-control city" onkeyup="validateText(event)" />
                <span asp-validation-for="City" class="small text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success button">SUBMIT</button>
            </div>
        </form>
    </div>
</section>
